﻿Gut gemacht. Jetzt beginnt das eigentliche Experiment, das in vier Blöcke unterteilt ist. Nach jedem Block können Sie eine kurze Pause machen, um Ihre Augen auszuruhen. <br><br><br>

Legen Sie Ihre Hände so auf die Tastatur, dass Sie die <b>[Y]</b>-Taste für <b>"Ja"</b> und die <b>[N]</b>-Taste für <b>"Nein"</b> bequem erreichen können, dann drücken sie die <b>[Leertaste]</b> um fortzufahren.