﻿<div style="width: 40em;">



<table>
<p><b>Einverständniserklärung</b><br>
Ich bin bereit, an dieser Online-Studie teilzunehmen. Mir ist bewusst, dass meine Antworten gespeichert werden, wobei diese aber nicht mit meinen persönlichen Daten in Verbindung gebracht werden können. Alle Daten werden anonym erhoben und  ausschließlich zu wissenschaftlichen Zwecken verwendet und können zu wissenschaftlichen Zwecken an Dritte weitergegeben werden.
</p>
</table>
<br>
<br>

<table>
<tr>
</tr>
<tr>
  <td>Alter:</td><td><input name="age" type="text" size="30" class="obligatory" /></td>
</tr>
<tr>
<td colspan="2"><label class="error" for="age"></label></td>
</tr>
<tr>
  <td>Geschlecht:</td><td><input name="sex" type="radio" value="male" class="obligatory" id="csexmale" /><label for="csexmale"> männlich </label>
                   <input name="sex" type="radio" value="female" id="csexfemale"/><label for="csexfemale"> weiblich</label>
</tr>
<tr>
  <td>Prolific-ID:</td><td><input name="id" type="text" size="30" class="obligatory" /></td>
</tr>
<tr>
<td colspan="2"><label class="error" for="sex"></label></td>
</tr>
<tr>
<td colspan="2" style="padding-bottom: 1em;"><input type="checkbox" class="obligatory" name="consent" id="consentcx" /><label for="consentcx"> Ich stimme zu</label></td>
</tr>
<tr>
<td colspan="2">
<label class="error" for="consent"></label>
</td>
</tr>
</table>

</div>