<p>Sie werden eine Reihe verschieder Personen sehen, darunter erfundene Namen und berühmte Namen, z.B. von Schauspielern, Politikern, Sängern, Filmfiguren und Persönlichkeiten aus Religion und Sagen.<br>

Gehen Sie bitte die Namen aufmerksam durch und antworten Sie <b>"Ja"</b> für Personen, von denen Sie mit Sicherheit schon gehört haben und <b>"Nein"</b> für Personen, von denen Sie noch nicht gehört haben. Platzieren Sie dazu Ihre Hände so, dass sie die <b>[Y]</b>-Taste für <b>"Ja"</b> und die <b>[N]</b>-Taste für <b>"Nein"</b> bequem erreichen können und antworten Sie durch Tastendruck.<br><br>

Zunächst bitten wir Sie, auf der nächsten Seite noch einige Einstellungen vorzunehmen.

</p>

</div>