Herzlichen Glückwunsch, Sie haben die Studie erfolgreich beendet. Bitte folgen Sie diesem Link, um Ihre Teilnahme bei Prolific zu bestätigen.<br><br>

<a href="https://prolificacademic.co.uk/submissions/578dc5f06f13c20001748574/complete?cc=BW5CG8BN" target="_blank">https://prolificacademic.co.uk/submissions/578dc5f06f13c20001748574/complete?cc=BW5CG8BN</a>

<br><br>

Alternativ geben Sie den Completion Code manuell bei Prolific ein: <b>BW5CG8BN<b>

