﻿<div style="width: 40em;">
<table>
<p><b>Herzlich Willkommen!<br><br></b>

Dieses Experiment testet, wie oft Menschen Alltagsnamen mit Namen berühmter Persönlichkeiten verwechseln. Die Studie dauert maximal 20 Minuten und ist eingeteilt in vier Blöcke, zwischen denen Sie jeweils eine kurze Pause machen können, um Ihre Augen auszuruhen. <br><br>

